
{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
    <meta name="description" content="About us">
{% endblock head %}


{% block content %}
    <div class="container">
        <h3 class="mx-auto text-center">About Us</h3>
        <span style="display:block; height: 66px;"></span>
        
        <div class="row">
            {% for dev in devs %}
            <div class="col-xs-1-12 col-sm-6 col-md-6">
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="../../static/images/{{ dev.picture }}" alt="Developer picture">
                        <div class="card-body">
                            <h4 class="card-title">{{ dev.name }}</h4>
                            <p class="card-text role">{{ dev.role }}</p>
                            <p class="card-text description">{{ dev.desc }}</p>
                            <p class="card-text mail"><a href="mailto:{{dev.email}}">Contact Me</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}   
            
        </div>
         
    </div>
    
{% endblock content %}
